{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/changePassword" method="post">
        <div class="container">
            <input class="form-control mx-auto w-auto" id="old_password" name="old_password" placeholder="Old Password" type="password">
        </div>
        <div class="container">
            <input class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="Password" type="password">
        </div>
        <div class="container">
            <input class="form-control mx-auto w-auto" id="new_password_confirmation" name="new_password_confirmation" placeholder="Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit" id="change_button" name="button">Change Password</button>
    </form>
{% endblock %}